################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/food-delivery-app/food-delivery-app.sln
